@use "../../sass/variables" as v;

section.reviews {
    height: 100vh;

    .container {
        z-index: 10;
        height: 100%;

        .rev-cont {
            height: 80%;
            width: 75%;
            border-radius: 50px;
            background-color: rgba(v.$light-grey, 0.75);
            backdrop-filter: blur(10px);
            border: 2px solid rgba(v.$white, 0.5);

            .middle-circles {
                h5 {
                    font-size: 2.4rem;
                    font-weight: 600;
                }
                .circle {
                    position: absolute;
                    border: 2px solid v.$font-color;

                    &.c-1 {
                        left: calc(50% - 125px);
                        width: 250px;
                        height: 250px;
                        border-radius: 125px;
                    }
                    &.c-2 {
                        left: calc(50% - 200px);
                        width: 400px;
                        height: 400px;
                        border-radius: 200px;
                    }
                    &.c-3 {
                        left: calc(50% - 275px);
                        width: 550px;
                        height: 550px;
                        border-radius: 275px;
                    }
                }
            }

            .rev-cards {
                top: 0;
                left: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr 1fr;

                .card {
                    height: fit-content;
                    flex-direction: column;
                    background-color: v.$white;
                    border-radius: 20px;

                    .card-header p {
                        font-size: 4rem;
                        line-height: 2rem;
                    }
                    .card-text p {
                        font-weight: 600;
                        margin-bottom: 1rem;
                    }

                    &.right {
                        justify-self: end;
                    }

                    &.bottom {
                        align-self: end;
                    }
                }
            }
        }
    }

    .rev-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        border-radius: 50px;

        background-image: url("../../resources/webp/reviews-bg2.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 0;
    }
}