@use "../../sass/variables" as v;

.button {
    border-radius: 50px;
    border: none;
    padding: 1rem;
    width: 200px;
    height: 40px;
    max-height: 40px;
    max-width: 200px;
    font-size: 1.6rem;
    cursor: pointer;

    &.primary {
        color: v.$white;
        background-color: v.$blue;
    }
}

.link {
    background: none;
    border: none;
    cursor: pointer;
}