@use "./sass/variables" as v;

$grid-sizes: ("1": 8.33333333%,"2": 16.66666667%,"3": 25%,"4": 33.33333333%,"5": 41.666667%,"6": 50%,"7": 58.33333333%,"8": 66.666667%,"9": 75%,"10": 83.33333333%,"11": 91.666667%,"12": 100%);
$flex-justify: ("left": flex-start,"right": flex-end, "center": center, "between": space-between);
$flex-align: ("top": flex-start, "bottom": flex-end, "center": center);

html {
    font-size: 10px;
}

body {
    background-color: v.$light-grey;
    color: v.$font-color;
    overflow-x: hidden;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.App {
    max-width: 1440px;
    margin: 0 auto;
    background-color: v.$white;

    * {
        position: relative;
        box-sizing: border-box;
    }
}

section {
    margin-bottom: 8rem;
}

p {
    margin: 0.2rem 0;
    font-size: 1.4rem;
}

h1, .h1 {
    font-size: 7rem;
    font-weight: 600;
}

h2, .h2 {
    font-size: 5.6rem;
    font-weight: 600;
}

h3, .h3 {
    font-size: 4.4rem;
    font-weight: 600;
}

h4, .h4 {
    font-size: 3.2rem;
    font-weight: 600;
}

h5, .h5 {
    font-size: 2.8rem;
}

.m-def {
    margin: 20px 0;
}

.p-def {
    padding: 0 15px;
}

.flex {
    display: flex;
}

@each $name, $val in $flex-justify {
    .justify-#{$name} {
        justify-content: $val;
    }
}

@each $name, $val in $flex-align {
    .align-#{$name} {
        align-items: $val;
    }
}

@for $i from 1 through 20 {
    .m-#{$i} {
        margin: $i * 1rem !important;
    }
    .mx-#{$i} {
        margin-left: $i * 1rem;
        margin-right: $i * 1rem;
    }
    .my-#{$i} {
        margin-top: $i * 1rem;
        margin-bottom: $i * 1rem;
    }
    .mt-#{$i} {
        margin-top: $i * 1rem;
    }
    .mb-#{$i} {
        margin-bottom: $i * 1rem;
    }
    .ml-#{$i} {
        margin-left: $i * 1rem;
    }
    .mr-#{$i} {
        margin-right: $i * 1rem;
    }

    .p-#{$i} {
        padding: $i * 1rem !important;
    }
    .px-#{$i} {
        padding-left: $i * 1rem;
        padding-right: $i * 1rem;
    }
    .py-#{$i} {
        padding-top: $i * 1rem;
        padding-bottom: $i * 1rem;
    }
    .pt-#{$i} {
        padding-top: $i * 1rem;
    }
    .pb-#{$i} {
        padding-bottom: $i * 1rem;
    }
    .pl-#{$i} {
        padding-left: $i * 1rem;
    }
    .pr-#{$i} {
        padding-right: $i * 1rem;
    }

    .gap-#{$i} {
        gap: $i * 1rem;
    }
}

.container {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    .col {
        display: flex;
        max-width: 100%;
        flex-basis: 0;
        flex-grow: 1;
        flex-wrap: wrap;
    }

    .col, .col-1, .col-10, .col-11, 
    .col-12, .col-2, .col-3, .col-4, 
    .col-5, .col-6, .col-7, .col-8, .col-9 {
        width: 100%;
    }

    [class^="col-"] {
        display: flex;
        flex-wrap: wrap;
    }

    @each $num, $val in $grid-sizes {
        .col-#{$num} {
            flex: 0 0 $val;
            max-width: $val;
            padding: 0 15px;
        }
    }
}