@use "./sass/variables" as v;

body {
    background-color: v.$white;
    color: v.$font-color;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}