@use "../../sass/variables" as v;

.panel-cont {
    width: 100%;
    height: fit-content;
    max-height: 300px;
    border-radius: 25px;
    border: 1px solid rgba(v.$font-color, 0.25);
    transition: max-height 400ms ease-in-out;
    overflow: hidden;

    .panel-header {
        cursor: pointer;
        height: 50px;
        padding-top: 1.2rem;
    }

    .panel-content {
        height: fit-content;
        transition: all 500ms ease-in-out;
    }

    &.closed {
        max-height: 50px;
    }
}