@use "../../sass/variables" as v;

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

    .container {
        max-width: 1440px;
        margin: 0 auto;
    }
}

.header-links-cont {
    background-color: rgba(v.$light-grey, 0.75);
    border-radius: 50px;
    backdrop-filter: blur(5px);
}