@use "../../sass/variables" as v;

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

    .container {
        max-width: 1440px;
        margin: 0 auto;
        
        &::before {
            content: "";
            position: absolute;
            top: -130px;
            left: 0;
            width: 100%;
            height: 100px;
            background-color: rgba(v.$light-grey, 0.75);
            backdrop-filter: blur(10px);
            border: 1px solid rgba(v.$font-color, 0.25);
            border-radius: 0 0 30px 30px;
            // animation-delay: 500ms;
        }
        
        .header-links-cont {
            background-color: rgba(v.$light-grey, 0.75);
            border-radius: 50px;
            backdrop-filter: blur(5px);
            transition: all 400ms ease-in-out;
            transition-delay: 200ms;
        }

        .logo-img {
            position: absolute;
            left: 4rem;
            top: -0.5rem;
            width: 48px;
            height: 48px;
            background-image: url("../../resources/icon/renewable-energy.png");
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
    
    &[page-top="false"] {
        .container::before {
            animation: headerAnim 400ms ease-out forwards;
            animation-delay: 200ms;
        }

        .header-links-cont {
            background-color: transparent;
            border-radius: 50px;
            backdrop-filter: blur(0);
        }
    }
    &[page-top="true"] {
        .container::before {
            top: -40px;
            animation: headerAnimOut 400ms ease-in forwards;
            animation-delay: 200ms;
        }
    }
}


@keyframes headerAnim {
    0% {
        top: -130px;
    }
    75% {
        top: -25px;
    }
    100% {
        top: -40px;
    }
}

@keyframes headerAnimOut {
    0% {
        top: -40px;
    }
    25% {
        top: -25px;
    }
    100% {
        top: -130px;
    }
}