@use "../../sass/variables" as v;

section.hero {
    width: 100%;
    height: calc(100vh - 8rem);

    .container {
        height: 100%;
        flex-direction: column;

        div {
            z-index: 10;
        }

        .middle-cont {
            height: 50%;

            .card {
                display: flex;
                flex-direction: column;
                height: fit-content;
                background: rgba(v.$light-grey, 0.5);
                backdrop-filter: blur(15px);
                border-radius: 40px;
                border: 2px solid rgba(white, 0.5);
                p {
                    font-size: 1.6rem;
                }
            }
        }

        .hero-text {
            flex-direction: column;

            h1 {
                line-height: 2.5rem;
                margin: 3rem 0;
            }
            h4 {
                margin: 1rem 0 2rem 0;
            }
        }
    }

    .white-rect {
        position: absolute;
        bottom: -3px;
        left: -1300px;
        width: 2000px;
        height: 280px;
        background: v.$white;
        border-radius: 0 280px 0 0;
    }
}

section.benefits {
    height: 550px;
    .container {
        height: 100%;
        .img-cont {
            height: 100%;
            > div {
                height: 50px;
                z-index: 10;
                background-color: v.$white;
                border-radius: 40px;
                p {
                    font-size: 1.4rem;

                    &:not(:last-child) {
                        border-right: 1px solid v.$font-color;
                    }
                }
            }
            .benefits-img {
                position: absolute;
                top: 20px;
                left: 15px;
                width: calc(100% - 30px);
                height: 500px;
                border-radius: 70px;
                background-image: url("../../resources/webp/benefits-img.webp");
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        .cards-cont {
            align-content: center;
            gap: 1rem;
            .text-card {
                height: 40px;
                justify-content: center;
                align-items: center;
                flex: 1 0 48%;
                font-size: 1.6rem;
                border: 1px solid rgba(v.$font-color, 0.25);
                background-color: v.$light-grey;
                border-radius: 40px;
            }
        }
    }
}

.backgrnd-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 0 50px 50px;
    background-image: url("../../resources/webp/hero-b.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 80%;
    transform: scaleX(-1);
}