@use "../../sass/variables" as v;

section.faq {
    .container {
        .panels-cont {
            > div {
                width: 100%;
                flex-direction: column;
                row-gap: 2rem;
            }
        }

        .faq-text {
            > div {
                flex-direction: column;
            }

            h4 {
                margin-top: 0;
                margin-bottom: 2rem;
            }

            p {
                font-size: 1.6rem;
            }

            .faq-img {
                display: block;
                width: 100%;
                height: 209px;
                border-radius: 30px;
                background-image: url("../../resources/webp/faq.webp");
                background-repeat: no-repeat;
                background-size: cover;
            }
        }
    }
}